
.box1{
    margin: 4px;
    border: 1px solid;
    max-height:780px;
    max-width: 240px;
   padding: 35px;
    background-color:whitesmoke;
    float:right;
    position: relative;
    overflow: hidden;
}
.Rdr1{
    max-height: 271px;
    max-width: 220px;
    position: relative;
    bottom: 8px;
    left:8px;
}
.text1{
    text-align: center;
    position: relative;
    bottom: 325px;
}
.a{
    line-height: 115%;
  position: relative;
  bottom: 50px;
  right:30px;

}

#Table1 .cell1{
    text-align: left;
    vertical-align: top;
    line-height: 1px;
    word-spacing: normal;
    position: relative;
    bottom: 20px;
    font-size:13.5px;
    max-width: 500px;
      }


#Table1 .cell2{
text-align:left;
vertical-align: top;
line-height: 2px;
word-spacing: normal;
position: relative;
left: 15px;
bottom: 20px;
font-size:13.5px;
max: width 500px;
  }

.box2{
    margin: 4px;
    padding:5px;
    border: 1px solid;
    max-width: 260px;
    max-height: 220px;
    float: left;
    position: relative;
    overflow: hidden;
}


.Rdr2{
    max-width:260px;
    max-height: 141px;
    float: left;

}
.text2{
    font-size:smaller;
    position: relative;
    top: 5px;
}
    
 .box3{
    margin: 4px;
    padding:6px;
    border: 1px solid;
    float: right;
   max-width:290px;
    max-height: 250px;
    position:relative;
    bottom: 40px;
    overflow: hidden;

 }
.Rdr3{
    max-width:290px;
    max-height: 170px;
}
.text3{
    font-size: smaller;
    text-align:justify;
}




.one{
    text-align:left;
    font-size: large;
}
.two{
    text-align:left;
    font-size: large;
}
.three{
    text-align:left;
    font-size: large;
}
.four{
    text-align:left;
    font-size: large;
}
.five{
    text-align:left;
    font-size: large;
}
.six{
    text-align:left;
    font-size: large;
}
.seven{
    text-align:left;
    font-size: large;
}
.eight{
    text-align:left;
    font-size: large;
}
