body{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    overflow-x: hidden;
}

.box1{
    margin: 4px;
    border: 1px solid;
    width: 100%;
    height: 100%;
    max-height: 810px;
    max-width: 240px;
   padding: 35px;
    background-color:whitesmoke;
    float:right;
    position: relative;
    overflow: hidden;
}
.Rdr1{
    width: 100%;
    max-width: 220px;
    position: relative;
    top: 10px;
    left:8px;
}
.text1{
    text-align: center;
    position: relative;
    bottom: 320px;
}
.a{
    line-height: 115%;
  position: relative;
  bottom: 50px;
  right:30px;

}

#Table1 .cell1{
    text-align: left;
    vertical-align: top;
    line-height: 1px;
    position: relative;
    bottom:10px;
    font-size:13.5px;

    max-width: 500px;
      }


#Table1 .cell2{
text-align:center;
vertical-align: top;
line-height: 2px;
position: relative;
left: 10px;
bottom:10px;
font-size:13.5px;
max-width :500px;

  }




.box2{
    margin: 4px;
    padding:5px;
    border: 1px solid;
    width: 100%;
    max-width: 260px;
    max-height: 235px;
    float: left;
    position: relative;
    overflow: hidden;
}


.Rdr2{
    width: 100%;
    max-width:260px;
    float: left;

}
.text2{
    font-size:smaller;
    position: relative;
    top: 5px;
}
    
 .box3{
    margin: 4px;
    padding:6px;
    border: 1px solid;
    float: right;
    width: 100%;
   max-width:290px;
    max-height: 255px;
    position:relative;
    overflow: hidden;

 }
.Rdr3{
    max-width:290px;
    max-height: 170px;
}
.text3{
    font-size: smaller;
    text-align:justify;
}


hr{
    border: 1px solid;
}

#hh:hover{
    color: red;
}
#dead:hover{
    color: red;
}


.devside{
    margin: 4px;
    padding:6px;
    border: 1px solid;
   width:390px;
    height: 340px;
    position:relative;
    display: flex;
    float: right;



 }
 .dev1{
   width:192px;
    height: 280px;

}
.dev2{
    width:192px;
  height: 280px;
    position: relative;
    left:5px;

}

 .ctxt1{
    position: relative;
    font-size: medium;
    top: 325px;
    right: 380px;
 
 }
 header{
        text-shadow: 2px 2px 5px red;
 }


 ul{
    margin: 0;
    padding:0;
    list-style-type: none;
    background-color:black;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    color: white;
}
ul li ul.dropdown li{
    display:block;
}
ul li ul.dropdown{
    position:absolute;
    display: none;
    margin: 0;
    padding:0;
    margin-left: -0.7cm;

}

ul li:hover ul.dropdown{
    display: block;
}

li a:hover{
    background-color:red;
}
.active {
    background-color: #04AA6D;
  }
footer{
    background-color: black;
    color: red;
    padding: 25px;
    text-align:center;
}
