
.box1{
    margin: 4px;
    border: 1px solid;
    width: 100%;
    height: 100%;
    max-height: 840px;
    max-width: 240px;
   padding: 35px;
    background-color:whitesmoke;
    float:right;
    position: relative;
    overflow: hidden;
}
.Rdr1{
  width: 100%;
    max-width: 220px;
    position: relative;
    top: 50px;
    left:8px;
}
.text1{
    text-align: center;
    position: relative;
    bottom: 280px;
}
.a{
    line-height: 115%;
  position: relative;
  bottom: 50px;
  right:30px;

}

#Table1 .cell1{
    text-align: left;
    vertical-align: top;
    line-height: 1px;
    word-spacing: normal;
    position: relative;
    top:50px;
    font-size:13.5px;
    max-width: 500px;
      }


#Table1 .cell2{
text-align:left;
vertical-align: top;
line-height: 1px;
word-spacing: normal;
position: relative;
left: 15px;
top:50px;
font-size:13.5px;
max: width 500px;
  }

.box2{
    margin: 4px;
    padding:5px;
    border: 1px solid;
    width: 100%;
    max-width: 260px;
    max-height: 235px;
    float: left;
    position: relative;
    overflow: hidden;
}


.Rdr2{
    width: 100%;
    max-width:260px;
    float: left;

}
.text2{
    font-size:smaller;
    position: relative;
    top: 5px;
}
    
 .box3{
    margin: 4px;
    padding:6px;
    border: 1px solid;
    float: right;
    width: 100%;
   max-width:290px;
    max-height: 250px;
    position:relative;
    overflow: hidden;

 }
.Rdr3{
    max-width:290px;
    max-height: 170px;
}
.text3{
    font-size: smaller;
    text-align:justify;
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    overflow-x: hidden;

}
hr{
    border: 1px solid;
}
